
body {
 font-family: 'Roboto', sans-serif;
 font-size: 20px;
 text-align: center;
}

.App-header {
  background-color: #122343;
  color: #fff;
  padding: 20px;
}

.App-body {
  padding: 20px;
}

.form-control {
  margin: 0 20px;
}

.data-row {
  clear: both;
}

.data-left {
  float: left;
}

.data-right {
  float: right;
}
